@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");


:root{
  background-color: rgb(149, 246, 246);
}
* {
  margin: 0;
}
body {
  font-family: "Montserrat", sans-serif;
 
}
